{% extends "layout.twig" %}

{% block content %}

<header class="bk-header">
    <div class="wrapper clearfix">
        <div class="companyheader clearfix">
          {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
          {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
        </div>
        <div class="menu-sz">
          {{widget('extendednavigation', 'navigationheader', {"align":"right"})|raw}}
        </div>        
    </div>
</header>

<div class="main wrapper clearfix">
    {{zone('main')|raw}}
    
</div>  

<section class="clearfix sz-footer">
  <div class="wrapper clearfix sz-footer-inner">
        <div class="responsivecolumns columns-two-50-50">
            <div class="column columns-two-left f-copyright">
                {{widget('profile', 'f-copyright', { 'profileType':'copyright', 'copyright':'profile'})|raw}}
            </div>
            <div class="column columns-two-right f-socialicons">
                {{widget('profile', 'f-socialicons', { 'profileType':'socialicons', 'socialicons':'profile'})|raw}}
            </div>
        </div>
    </div>
</section>

{% endblock %}
